/* Style sheet for home page */


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* header */
.header{
	overflow: hidden;
	background-color:#1C888F;
	position: relative;
}
.logo{
	font-family: "mokoko", serif;
	font-weight: 400;
	font-style: normal;
	color:#FFE6E4;
	text-align:left;
	font-size: 25px;
	text-decoration: none;
}
	
nav ul li {
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	list-style-type: none;
	text-align: center;

}
nav ul li a{
	color:#FFE6E4;
	text-decoration: none;
	transition: 0.7s ease;
}
nav ul li a:hover{
	color:#F0B962
}

.navbar{
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	background-color:#1C888F;
}

.nav-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.hamburger{
	display:none;
	cursor: pointer;
}
 
.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #FFE6E4;
}

@media(max-width:850px){
	.hamburger{
		display: block;
	}
	
	.hamburger.active .bar:nth-child(2){
		opacity:0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	
	
	.nav-menu{ 
	position: absolute;
		z-index:1;
	left: -100%;
	top: 70px;
	gap: 0;
	flex-direction: column;
	width: 100%;
	text-align: center;
	transition: 0.3s;
	}
	
	.nav-item{
		margin: 16px;
	}
	
	.nav-menu.active{
		left: 0;
		background-color: #1C888F;
	}
}


/* recipe block */
.salmon{
	display: block;
	margin-left: auto; 
	margin-right: auto;
	width: 85%;
	height: 95%;
	border-radius: 20px;

}
 
	  
 
 /*Revision fior rounded inner box*/
 
 .box-1{
	 display:block;
	 margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-radius: 20px;
	border: solid 15px #1C888F;
	background-color: #1C888F;
	
	
 }

.inner-box {
	display:block;
	margin-left:auto;
	margin-right: auto;
	width: 99%;
	padding: 15px;
	border-radius:20px;
	background-color: #199697;
}

@media (min-width: 850px) {
	.z {
		display: flex;
		justify-content: center;
		margin-left:auto;
		margin-right:auto;
		width: 65%;
		padding: 10px;
		}
	.salmon {
		width:55%;
	}
	.box-1 {
		height:35%;
		width: 35%;
		margin-top: 100px;
	}
	.inner-box{
		width:99%;
	}
}

h2{
	font-family: "mokoko", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color:#FFE6E4;
	text-align:center;
}

.first{ 
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 25px;
	color:#FFE6E4;
	text-align:center;
}
.link{
	color:#FFE6E4;
	text-decoration: none;
	transition: 0.7s ease;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
}
.link:hover{
	color:#F0B962
}

/* Popular Categories */
h3{
	font-family: "mokoko", serif;
font-weight: 400;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 35px;
}

.container{
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 83%;
	margin-left: auto;
	margin-right: auto;
}
.affordable{
	height:100px;
	width:100px;
}
.classics{
	height:100px;
	width:100px;
}
.sides{
	height:100px;
	width:100px;
}
.second{
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	color:#1fb6b2;
	text-align:center;
}

@media (min-width:850px){
	.container{
		width: 45%;
	}
	.affordable{
		height: 150px;
		width:150px;
	}
	.classics{
		height:150px;
		width:150px;
	}
	.sides{
		height:150px;
		width:150px;
	}
	
}


/* Our Favorites */
h4{
	font-family: "mokoko", serif;
font-weight: 400;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 35px;
}

h5{
	font-family: "mokoko", serif;
	font-weight: 200;
	font-style: normal;
	font-size: 25px;
	color:#FFE6E4;
	text-align:center;
}

.fav-1{
	display:flex;
	justify-content:center;
	background-color:#199697;
	border-radius: 20px;
	width: 95%;
	margin-left:auto;
	margin-right: auto;
}	
	
.third{
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	color:#FFE6E4;
	text-align:center;
}

.fish-tacos{
	height:300px;
	width:200px;
	border-radius: 20px;
	margin: 10px;
}
.text-1{
	background-color: #1C888F;
	border-radius: 20px;
	padding: 5px;
	margin: 10px;
}
	
.fav-2{
	display:flex;
	justify-content:center;
	background-color:#199697;
	border-radius:20px;
	width: 95%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:10px;
}

.stirfry{
height:300px;
	width:200px;
	border-radius: 20px;
	margin: 10px;
}

.text-2{
	background-color: #1C888F;
	border-radius: 20px;
	margin: 10px;
	padding: 5px;

}

@media (min-width: 850px) {
	.favorites{
		display:flex;
		justify-content: center;
		padding: 10px;
	}
	.fav-1{
		width:35%;
		margin-bottom:10px;
	}
	.fav-2{
		width:35%;
	}
	
	
	
}





h6{
	font-family: "mokoko", serif;
font-weight: 400;
font-style: normal;
color:#FFE6E4;
text-align:left;
font-size: 25px;
}
footer{
	padding:15px;
	background-color:#1C888F;
}




/* Page 2 Our Story */

.chicken { 
	border-radius: 20px;
	height: 45%;
	width: 35%;
	border: solid #F0B962 10px;	
	margin: 20px;
}

.container2{
	display: flex;
	justify-content: center;
}

@media (min-width:850px) {
	.container2{
		width: 55%;
		margin-left:auto;
		margin-right: auto;
	}	
	
}

/* Image Collage */

.collage{
	display: flex;
	flex-wrap: wrap;
	padding: 10px
	
}

.column{
	flex: 25%;
	max-width:25%;
	padding: 10px;
}

.column img{
	margin-top: 20px;
	vertical-align: middle;
	width: 100%;
	border-radius: 20px;
	border: solid #F0B962 12px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

	
p{ 
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	color:#1fb6b2;
	text-align:left;
	margin: 20px;
}

h1{
	font-family: "mokoko", serif;
font-weight: 400;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 35px;
}
/* Share */

.page3{
	font-family: "mokoko", serif;
font-weight: 300;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 30px;

}
.share {
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color:#1fb6b2;
	text-align: center;
	margin: 20px;
}
.forum{
	margin-left:auto;
	margin-right:auto;
	width:90%;
	
}
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
	width:75%;
	margin-left: auto;
	margin-right:auto;
	margin-bottom:10px;
	border-radius:20px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;

}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;

}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
	border-radius:20px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}
@media screen and (min-width:800px){
.carousel{
	width:28%;
	height:25%;
}

}

.share2{
	font-family: "mokoko", serif;
font-weight: 250;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 22px;
}

/*Recipes*/

@media screen and (max-width: 800px){
	.hide{
		display:none;
	}
}
	

#myInput {
	width: 40%;
	margin:5px;
	font-size: 18px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 12px 20px 12px 40px;
	border: 3px solid #1C888F;
	border-radius: 40px;
	margin-bottom: 12px;
}

#myUL {
	list-style-type:none;
	padding:0;
	margin: 5px;
	width:35%;
}

#myUL li a {
	background-color:#f6f6f6;
	color:#1fb6b2;
	margin-top: -1px;
	text-decoration:none;
	font-size: 20px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	display: block;
}

#myUL li a:hover{
	color:#F0B962;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.browser-alert {
    margin: 0;
    padding: 1rem;
    background-color: #222;
    color: white;
}

.browser-alert a {
    color: inherit;
}

/* Grid Styles */



@supports (object-fit: cover) and (display: grid) {
    .browser-alert {
        display: none;
    }
}

* {
    box-sizing: border-box;
}


.menu-teasers {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.menu-teasers > * {
    flex: 1 1 300px;
    align-self: flex-start;
    padding: 1rem;
}


.menu-teaser figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30% 0;
    cursor: pointer;
}

.menu-teaser figure::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #1fb6b2 0%, #F0B962 100%);
    content: '';
	border-radius: 20px;
}

.menu-teaser figure:hover img {
    opacity: 0.25;
}

.menu-teaser figure:hover figcaption {
    opacity: 1;
    transform: translateY(0);
}

.menu-teaser figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
}

.menu-teaser figcaption h1 {
    font-size: 25px;
}

.menu-teaser figcaption a {
    text-decoration: none;
    color: white;
}

.menu-teaser img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: saturate(0.9);
    transition: all 0.3s ease-in-out;
	border-radius: 20px;
}
@media screen and (min-width:850px){
.menu-teasers {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
	width:88%;
	margin-left:auto;
	margin-right:auto;
}

.menu-teasers > * {
    flex: 1 1 300px;
    align-self: flex-start;
    padding: 1rem;
}

}


/* Featured Recipes */

.container3{ 
      display: flex;
      flex-wrap: nowrap;
      height: 85%;
      width: 75%;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
  }
	
.ft{
	font-family: "mokoko", serif;
	font-weight: 400;
font-style: normal;
color:#1FB6B2;
text-align:center;
font-size: 25px;
}

.child1 {
		display: block;
		width: 100%;
		height: 100%;
		border: 2px #1C888F solid;
		border-radius: 20px;
		padding: 5px;
		margin: 10px;
		}
		
.child1 img{
	border-radius:20px;
	height: 55%;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.child1 figcaption{
	font-size: 20px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #1C888F;
	text-align: center;
}
.child2 {
	display: block;
		width: 100%;
		height: 100%;
		border: 2px #1C888F solid;
		border-radius: 20px;
		padding: 5px;
		margin: 10px;
		}
.child2 img{
	border-radius:20px;
	height: 35%;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.child2 figcaption{
	font-size: 20px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #1C888F;
	text-align: center;
}
.child3{
	display: block;
		width: 100%;
		height: 100%;
		border: 2px #1C888F solid;
		border-radius: 20px;
		padding: 5px;
		margin: 10px;
		}
.child3 img{
	border-radius: 20px;
	height:45%;
	width: 35%;
}
.child3 figcaption{
	font-size: 20px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #1C888F;
	text-align: center;
}

@media screen and (max-width: 800px){
	.container3{ 
      display: flex;
      flex-wrap: nowrap;
      height: auto;
      width: 85%;
	  overflow-x: scroll;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
  }
	.child1 img{
	height: 85%;
	width: 95%;
}
.child2 img{
	height: 85%;
	width: 95%;
}
.child3 img{
	height:95%;
	width:85%;
}
}
.form {
	border: 1.5px #1C888F solid;
	border-radius: 20px;
	padding:10px;
	margin: 45px;
	width:95%;
}
form{
	text-align:center;
}
	
input[type="text"]{
	padding: 10px;
	border-radius: 20px;
	margin: 20px 0;
	font-size: 24px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	color:#1C888F;
	width:350px;
	border:0;
	box-shadow:0 0 12px 2px rgba(0,0,0,0.09);
}

input[type="submit"]{
	font-size: 24px;
	font-family: "mr-eaves-sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	color:#FFE6E4;
	border:1px #1c888F solid;
	border-radius:20px;
	background-color:#1c888F;
	padding:5px;
	width: 100px;
}


.imgs{
	display:flex;
	justify-content:center;
	
}
.newsletter{
	height: 500px;
	width: 350px;
	transition: all .2s ease-in-out;
	padding:20px;
	border-radius:20px;
}	
.newsletter:hover{
	transform: scale(1.1); 
}

@media screen and (max-width: 800px){
	.form { 
	width:85%;
		
	}
	.img-sec{
		display:none;
	}
	.sticky{
	position: absolute;
 	 bottom: 0;
	width:100%;
}
}
